* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Spline {
  width: 50vw;
}

.spline {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
